#main {
  background-color: #c2d6d6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%2394b8b8' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-family: 'Barlow', sans-serif;
  color: white;
}

#title {
  text-align: center; 
  text-shadow: 2px 2px #476b6b;
}

#description {
  text-align: center;
  font-style: italic;
  color: #283e3e;
}

#form-container {
  background-color: #669999; 
  width: 700px;
  margin: auto;
  border-radius: 5px;
  opacity: 80%;
  padding: 10px;
  display: grid; 
  grid-template-columns: 1fr; 
}

@media (max-width: 800px) {
  #form-container {
    width: 70vw; 
  }
}

.labels {
  font-size: 18px;
  font-weight: bold;
  margin: 30px
}

.inputbox, #radio, #checkbox {
  font-size: 14px; 
  margin-left: 30px; 
  margin-right: 7px;
  margin-top: 7px;
}

.inputbox {
  width: 600px;
  font-size: 14px;
  padding: 10px 10px 10px 10px;
  border: 1px #466d6d solid;
  border-radius: 5px; 
}

 @media (max-width: 800px) {
   .inputbox {
    width: 60vw;
  }
}

#submit {
  display: block; 
  width: 75px;
  margin: auto;
  font-size: 16px;
  padding: 7px;
  background-color: #334d4d;
  color: white;
  border: 1px solid #283e3e; 
}

#submit:hover {
  box-shadow: 0 0 3px #283e3e; 
}